<div class="logo">
    <h3 class="adminTitle logo-normal"> Admin Panel </h3>
    <p class="nameLeftpading">   {{username}} </p>
</div>

<div class="sidebar-wrapper">
    <ul class="nav">
        <li>
            <a (click)="onSelection(0)">
                <i class="now-ui-icons design_app" style="color: blanchedalmond"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a (click)="onSelection(1)">
                <i class="fa fa-user" style="color: blanchedalmond"></i>
                <p>Users</p>
            </a>
        </li>
        <li>
            <a (click)="onSelection(2)">
                <i class="fa fa-users" style="color: blanchedalmond"></i>
                <p>Groups</p>
            </a>
        </li>
    </ul>
</div>