<div class="panel-header panel-header-sm">
</div>
<div class="main-content" *ngIf='activatedForm == 0'>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <span class="card-title" style="font-size:25px; font-weight:500"> Users </span>
          <span><i class="fa fa-user-plus user-icon" (click)="formActivation()"
              style="font-size:25px; float: right"></i></span>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Email
              </th>
              <th>
                Country
              </th>
              <th>
                Phone
              </th>
              <th>
                Status
              </th>
            </thead>

            <tbody *ngIf="this.totalUsers != 0">
              <tr *ngFor="let user of usersList; let i = index">
                <td>
                  {{user.name}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>
                  {{user.country}}
                </td>
                <td>
                  {{user.phone}}
                </td>
                <td>
                  <span *ngIf="user.status == 1; else inActiveStatus">
                       active
                  </span>
                  <ng-template #inActiveStatus>
                    inactive
                  </ng-template>
                </td>
                <td>
                  <input type="hidden" value="{{ user._id }}" #userId>
                </td>
                <td>
                  <span> <i class="fa fa-edit px-3 user-icon" (click)="updateForm(user)"> </i> </span>

                  <span> <i class="fa fa-trash px-3 user-icon" (click)="DeleteUser(userId.value, user.name)"> </i>
                  </span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <span *ngIf="loading">
          <div class="stats" style="text-align: center"> <i class="now-ui-icons loader_refresh spin"></i> </div>
        </span>
        <span *ngIf="!loading && totalUsers == 0">
          <p style="text-align: center">No data found</p>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------  --------------------------------------------- -->
<!-- ----------------------------- USER ADD ---------------------------------------- -->
<!-- -----------------------------  --------------------------------------------- -->

<div class="main-content" *ngIf='activatedForm == 1'>
  <div class="row">
    <div class="col-md-8 offset-md-1 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header">
          <span class="title" style="font-size:25px; font-weight:500">Add Users</span>
          <span><i class="now-ui-icons arrows-1_minimal-left user-icon" style="float: right; font-size:30px"
              (click)="formActivation()"></i></span>
        </div>
        <div class="card-body">
          <form [formGroup]="userAddFormGroup" (ngSubmit)="AddUser()" enctype="multipart/form-data">
            <div class="row">

              <div class="col-md-5 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" formControlName="username" placeholder="Username">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" id="email" type="email" formControlName="email" class="form-control"
                    placeholder="Email">
                </div>
              </div>

              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input name="password" id="password" type="password" (input)="passwordValidation(password, cpassword)"
                    formControlName="password" class="form-control" placeholder="password" #password>
                </div>
              </div>
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="cpassword">Confirm Password</label>
                  <input name="cpassword" id="cpassword" type="password"
                    (input)="passwordValidation(password, cpassword)" formControlName="cpassword" class="form-control"
                    placeholder="confirm password" #cpassword>
                </div>
              </div>
              <div class="col-md-8 pl-1">
                <span style="color: red"> {{ passwordMessage }} </span>
              </div>

            </div>
            <div class="row">
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" formControlName="country" placeholder="your country">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="number" class="form-control" formControlName="phone" placeholder="phone number">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Chat Seen Availability</label>
                    <select class="form-control" formControlName="seenStatus" name="seenStatus" (change)="SeenSelectStatus($event.target.value)">
                      <option value="null" selected disabled hidden> chat seen status</option>
                      <option value="1"> On </option>
                      <option value="0"> Off </option>
                    </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <select name="users" formControlName="status" class="form-control" (change)="SelectStatus($event.target.value)">
                    <option value="null" selected disabled hidden> user active status</option>
                    <option value="1"> active </option>
                    <option value="2"> inactive </option>
                  </select>
                </div>
              </div>
            </div>

            <br>

            <div class="row" style="position: relative;">
              <div class="col-md-4 pl-1">
                <a class="simple-text logo-mini">
                  <div class="logo-img">
                    <label class="fontWeighter choosePicture" *ngIf="userImage == null">Choose Picture: </label>
                    <label for="profile_img">
                      <!-- <span *ngIf="userImage == null">
                        <img class="img-responsive" src="/assets/img/noProfile.png" />
                      </span> -->
                      <span *ngIf="userImage != null">
                        <img class="img-responsive" [src]="imageSrc"
                          style="border-radius: 50%; height: 120px; width: 120px; position: relative;" />
                      </span>

                      <input type="file" (change)="userImageUpload($event)" value="Upload"
                        style="position: absolute; margin-left: 15px; top: 35%;" #uploadedImage>
                    </label>

                  </div>
                </a>
              </div>
            </div>
            <br>
            <span *ngIf="!isSubmitted">
              <input class="btn btn-info btn-block" [disabled]="!userAddFormGroup.valid" type="submit" value="Submit">
            </span>
            <span *ngIf="isSubmitted">
              <input class="btn btn-info btn-block" [disabled]="true" type="submit" value="Wait...">
            </span>

          </form>
          <p style="text-align: center; color:rgb(157, 201, 90)"> {{genericMessage}} </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------  --------------------------------------------- -->
<!-- ----------------------------- USER UPDATE ------------------------------------- -->
<!-- -----------------------------  --------------------------------------------- -->

<div class="main-content" *ngIf='activatedForm == 2'>
  <div class="row">
    <div class="col-md-8 offset-md-1 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header">
          <span class="title" style="font-size:25px; font-weight:500">Update User</span>
          <br>
          <span> ({{selectedUser.name}}) </span>
          <span><i class="now-ui-icons arrows-1_minimal-left user-icon" style="float: right; font-size:30px"
              (click)="DeActivateUpdateForm()"></i></span>

        </div>
        <div class="card-body">
          <form [formGroup]="userUpdateFormGroup" (ngSubmit)="UpdateUser()">
            <div class="row">

              <div class="col-md-5 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" [value]="selectedUser.name" formControlName="username"
                    placeholder="Username">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" id="email" type="email" [value]="selectedUser.email" formControlName="email"
                    class="form-control" placeholder="Email">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" [value]="selectedUser.country" formControlName="country"
                    placeholder="your country">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="number" class="form-control" [value]="selectedUser.phone" formControlName="phone"
                    placeholder="phone number">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Chat Seen Availability</label>
                    <select class="form-control" formControlName="seenStatus" name="seenStatus" (change)="SeenSelectStatus($event.target.value)">
                      <option value="1"> On </option>
                      <option value="0"> Off </option>
                    </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <select class="form-control" formControlName="status" name="users" (change)="SelectStatus($event.target.value)">
                    <option value="1"> active </option>
                    <option value="2"> inactive </option>
                  </select>
                </div>
              </div>
            </div>

            <span *ngIf="!showPasswordFields">
              <input type="checkbox" (click)="passwordForm()">
              <span style="vertical-align: text-bottom; margin-left: 5px;">change password!</span>
            </span>

            <div class="row" *ngIf="showPasswordFields">
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="password">New Password</label>
                  <input name="password" id="password" type="password" (input)="passwordValidation(password, cpassword)"
                    formControlName="password" class="form-control" placeholder="password" #password>
                </div>
              </div>
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="cpassword">Confirm Password</label>
                  <input name="cpassword" id="cpassword" type="password"
                    (input)="passwordValidation(password, cpassword)" formControlName="cpassword" class="form-control"
                    placeholder="confirm password" #cpassword>
                </div>
              </div>

              <div class="col-md-7 pl-1">
                <span style="color: red"> {{ passwordMessage }} </span>
              </div>
            </div>
            <br> <br>

            <div class="row" style="position: relative;">
              <div class="col-md-4 pl-1">
                <a class="simple-text logo-mini">
                  <div class="logo-img">
                    <label class="fontWeighter choosePicture" *ngIf="imageSrc == ''">Choose Picture: </label>
                    <label for="profile_img">
                      <span *ngIf="imageSrc != ''">
                        <img class="img-responsive" [src]="imageSrc"
                          style="border-radius: 50%; height: 120px; width: 120px; position: relative;" />
                      </span>

                      <input type="file" (change)="userImageUpload($event)" value="Upload"
                        style="position: absolute; margin-left: 15px; top: 35%;" #uploadedImage>
                    </label>

                  </div>
                </a>
              </div>
            </div>
            <br>
            <input class="btn btn-info btn-block" type="submit" value="Update">
          </form>
          <p style="text-align: center; color:rgb(157, 201, 90)"> {{genericMessage}} </p>
        </div>
      </div>
    </div>
  </div>
</div>